:root {
    --color-background-main: #08133d;
    --color-card-bg: #102d67;
    --color-text-main: #e0e7ff;
    --color-text-secondary: #a0a8b2;
    --color-accent: #4772ff;
    --color-divider: #2a417a;
    --color-scrollbar-track: #1e1e5a;
    --color-scrollbar-thumb: #5d6786;
    --color-hover-effect: #fff;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--color-text-main);
    background-color: var(--color-background-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 4px;
}

.minus-link {
    color: white; 
    position: absolute; 
    top: 20px; 
    left: 20px; 
    font-size: 2.2rem;
    transition: transform 0.3s ease;
}

.minus-link:hover {
    transform: scale(1.10);
    text-shadow: 0 0 5px var(--color-hover-effect);
    transition: transform 0.3s ease;
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.info-content-container {
    background-color: var(--color-card-bg);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    padding: 2.5rem;
    width: 100%;
}

.section-title {
    font-family: 'Roboto Slab', serif;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-weight: 700;
    color: var(--color-text-main);
    margin-bottom: 2rem;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: var(--color-accent);
    margin: 1rem auto 0;
    border-radius: 2px;
}

.info-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.info-paragraph {
    background-color: #223c7a;
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid var(--color-card-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin: 0 auto;
    height: auto;
}

.info-paragraph:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.info-paragraph span {
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    color: var(--color-text-main);
}

.info-paragraph strong {
    color: var(--color-accent);
    font-weight: 600;
    margin-right: 0.5rem;
}