<header id="top" class="section">
  <div class="header-container">
    <a href="https://github.com/santtos0x1/ISS-Tracker/tree/master" target="_blank" class="github-link" style="color: white; position: absolute; top: 20px; right: 20px; font-size: 2.5rem;">
        <i class="fa-brands fa-github"></i>
    </a>
    <hr style="border: none; height: 2px; background-color: white;">
    <span class="header-title">International Space Station Tracker</span><br>
    <hr style="border: none; height: 2px; background-color: white;">
    <span class="header-title" style="font-size: 1.3rem; letter-spacing: 0.4rem;">Real-time tracking of the ISS orbiting Earth</span>
    <hr style="border: none; height: 2px; background-color: white;">
    <i class="fa-solid fa-arrow-down header-arrow" onclick="scrollDown()"></i>
  </div>
</header>