{% load static %}
<section id="content" class="section animate__animated">
    <div id="map" class="map-section"></div>
    <script>
        const map = L.map('map').setView([0, 0], 2);
        L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles © Esri'
        }).addTo(map);

        const issIcon = L.icon({
            iconUrl: "{% static 'iss/images/iss.png' %}",
            iconSize: [35, 35],
            iconAnchor: [25, 25]
        });
        const marker = L.marker([0, 0], { icon: issIcon }).addTo(map);
        async function updateISS() {
            try {
                const response = await fetch('http://api.open-notify.org/iss-now.json');
                const data = await response.json();
                const lat = parseFloat(data.iss_position.latitude);
                const lon = parseFloat(data.iss_position.longitude);
                marker.setLatLng([lat, lon]);
                
                map.setView([lat, lon], map.getZoom());
                map.panTo([lat, lon], animate=true);
            } catch (err) {
                console.error('Error to search the ISS position:', err);
            }
        }

        $.getJSON('https://api.allorigins.win/get?url=' + encodeURIComponent('http://api.open-notify.org/astros.json'), function(data) {
            const parsed = JSON.parse(data.contents);
            $('#spacepeeps').text(parsed.number);
        });


        updateISS();
        setInterval(updateISS, 5000);
    </script>
</section>