{% extends "global/head.html" %}
{% load static %}

{% block title %}ISS info{% endblock title %}

{% block content %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{% static 'info/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/footer-styles.css' %}">
    <link rel="shortcut icon" href="{% static 'info/favicon/information-favicon.png' %}" type="image/x-icon">
{% endblock content %}
