.section-footer a{
    color: var(--color-text-footer) !important;
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.section-footer a:hover {
    text-shadow: 0 0 5px var(--color-hover-effect);
    transform: scale(1.05);
}

.section-footer {
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-top);
    font-size: clamp(0.8rem, 1vw, 1rem);
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--color-text-footer);
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .section-footer {
        font-size: 0.75rem;
        padding: 0.5rem;
    }
}