:root {
    --color-background-section: #102d67;
    --color-background-top: #08133d;
    --color-scrollbar-track: #1e1e5a;
    --color-scrollbar-thumb: #9a9a9a21;
    --color-text-footer: #fff;
    --color-border-map: #fff;
    --color-text-general: #333;
    --color-hover-effect: #fff;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: var(--color-text-general);
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 3px;
}

.info-container {
    margin-bottom: 25px;
    text-align: center;
    color: var(--color-text-general);
    font-size: clamp(0.6rem, 1.2vw, 1rem);
    height: 1rem;
    font-family: 'Roboto Slab', serif;
}


.section-footer a{
    color: var(--color-text-footer) !important;
    text-decoration: none !important;
    transition: all 0.3s ease;
}

.section-footer a:hover {
    text-shadow: 0 0 5px var(--color-hover-effect);
    transform: scale(1.05);
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-text-footer);
    text-align: center;
    background-color: var(--color-background-section);
}

.section-footer {
    min-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-top);
    font-size: clamp(0.8rem, 1vw, 1rem);
    padding: 0.5rem 1rem;
    text-align: center;
    color: var(--color-text-footer);
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    .section-footer {
        font-size: 0.75rem;
        padding: 0.5rem;
    }
}

hr {
    border: none; 
    height: 2px; 
    background-color: white;
}

#top {
    background-color: var(--color-background-top);
    flex-direction: column;
}

.map-section {
    margin: 0;
    max-height: 700px;
    height: 70vh;
    width: 90%;
    border: 3px solid var(--color-border-map);
    border-radius: 10px;
}

.github-link {
    transition: transform 0.3s ease;
    text-decoration: none;
    color: white; 
    position: absolute; 
    top: 20px; right: 20px; 
    font-size: 2.5rem;
}

.github-link:hover {
    transform: scale(1.10);
    text-shadow: 0 0 5px var(--color-hover-effect);
    transition: transform 0.3s ease;

}

.plus-link {
    color: white; 
    position: absolute; 
    margin-top: 3.5rem;
    top: 20px; 
    right: 20px; 
    font-size: 2.2rem;
    transition: transform 0.3s ease;
}

.plus-link:hover {
    transform: scale(1.10);
    text-shadow: 0 0 5px var(--color-hover-effect);
    transition: transform 0.3s ease;
}

.header-title {
    font-size: clamp(2rem, 8vw, 3rem);
    margin-bottom: 2rem;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    letter-spacing: 0.5rem;
}

#header-subtitle {
    font-size: 1.3rem;
}

.header-arrow {
    font-size: clamp(1.5rem, 5vw, 2rem);
    cursor: pointer;
    transition: transform 0.3s ease;
    padding: 2rem;
}

.header-arrow:hover {
    transform: translateY(10px);
    transition: transform 0.3s ease;
    color: var(--color-hover-effect);
    text-shadow: 0 0 5px var(--color-hover-effect);
}

#content {
    background-color: var(--color-background-section);
    font-size: 2rem;
}